- form_for(@post) do |f|
  %table
    %tr
      %th= f.label 'title (h3.)'
      %td= f.text_field :title
    %tr
      %td{ :colspan=>'2' }= f.text_area :body
    %tr
      %th= f.label 'in blog?'
      %td= f.check_box :published
    %tr
      %th= f.label 'in nav?'
      %td= f.check_box :in_navigation
    %tr
      %th= f.label 'Tags'
      %td= f.text_field :tag_list
  = f.submit 'Save'
  #textile_defs
    %h4 textile usage
    %ul
      %li
        \*ul
      %li
        \#ol
      %li
        code: bc..
      %li
        inline code: @codeword@
