%h3 New post
-if @post.errors.any?
  #errors
    %p= "#{pluralize(@post.errors.count, "error")}  prohibited this user from being saved:"
    %ul  
      -@post.errors.full_messages.each do |msg|
        %li= msg
= render :partial => 'post'

= render :partial => 'shared/admin_links'