!!! 5
%html
  %head
    %meta{:name=>"author", :content=>"Austin Flores"}
    %meta{:name=>"keywords", :content=>"Ctrl4ltdeleteme, portfolio, Austin Flores, blog"}
    %meta{:'http-equiv'=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{:name=>"google-site-verification",:content=>"LVaZcDWC-XvEg2q_GnbnMdCd04kcl230qQswuv2Rk2M"}
    %title Ctrl4ltdeleteme - Blog
    = stylesheet_link_tag 'reset', 'application'
    = javascript_include_tag 'jquery', 'application', 'rails'
    = csrf_meta_tag
    %link{ :href => 'http://fonts.googleapis.com/css?family=IM+Fell+English', :rel => 'stylesheet', :type=>'text/css'}
  %body
    #header
      %h1=link_to "ctrl 4lt delete me", root_path
      %p#description
        The super badassed blog by
        %span.author 
          %a{:href=>"http://www.cloudspace.com/team#austinflores", :target=>'_blank'} Austin Flores
      %a#rss{:href=> rss_path} rss
    %hr
    %div#nav.rad20
      %ul
        %li=link_to "Home", '/'
        -if navigation_items.any?
          = render :partial => 'layouts/dynamic_nav', :locals => { :items => navigation_items}
        -else
          %a{:href => "/"} I got Nothin
        - if admin? session
          = render :partial => 'layouts/admin_nav'
        %li=link_to "Github", 'http://github.com/unflores'
    %p= flash[:message]

    #wrapper
      #content_body.rad20
        %h2= if yield(:content_title).blank? then 'The Blag' else yield :content_title end
        = yield

      #foot_wrapper
        #foot_body
          %p#footer
            != "Brought to you with the help of #{link_to "Rails", "http://rubyonrails.org/"} and #{link_to "Heroku", "http://heroku.com"} goodness."
    #twitter
      /= render :partial => 'layouts/tweet_stream', :locals => { :tweets => tweets}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20366055-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
